
	<!-- IMG Container start -->
		<!-- ================ -->
			<div id="Day2" class="imgContainer" ng-controller="Day2Ctrl">
					<div class="row">
						<div class="col-md-12" >
							<ul>
						    <li ng-repeat="theimg in dayTwoImg" class="col-sm-6 col-md-3">
						    	<div class="thumbnail">
							      <a data-gallery href="{{theimg.imageUrl}}" title="{{theimg.name}}" class="thumbnail">
							      <img src="{{theimg.imageUrl}}" style="min-height:150px; height:150px;">
							      </a>
							      <h3>{{::theimg.name}}</h3>
							      <p>{{::theimg.snippet}}</p>
							      <p class="center">
							      	<a href="{{theimg.imageUrl}}" class="btn btn-custom" role="button">
							      	<span class="glyphicon glyphicon-chevron-down"></span>	
							      </a>
						      </div>
						    </li>
						  </ul>
						</div>
					</div>
			</div>
		<!-- incontainer end -->
	
